p {
   margin-bottom: 0;
}


.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-header>a,
.sidebar-wrapper .sidebar-dropdown>a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-menu ul li a {
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
   transition: all 0.3s ease;
}

/*----------------page-wrapper----------------*/
body {
   height: calc(100vh - 51px);
}

.page-wrapper {
   height: 100%;
   margin: 0 auto;
   overflow-x: auto;
}

.page-wrapper .theme {
   width: 40px;
   height: 40px;
   display: inline-block;
   border-radius: 4px;
   margin: 2px;
}

/*----------------toggeled sidebar----------------*/

.page-wrapper .sidebar-wrapper {
   left: 0px;
   min-width: 350px;
}

@media screen and (min-width: 768px) {
   .page-wrapper.toggled .page-content {
      padding-left: 300px;
   }
}


/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
   width: 260px;
   height: 100%;
   max-height: 100%;
}

.sidebar-wrapper ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

.sidebar-wrapper a {
   text-decoration: none;
   color: rgb(104, 104, 104);
}

.sidebar-wrapper a:hover {
   color: rgb(0, 0, 0);
}

/*----------------sidebar-content----------------*/

.sidebar-content {
   max-height: calc(100% - 30px);
   height: calc(100% - 30px);
   width: 100%;
   max-width: 350px;
   overflow-y: auto;
   position: relative;
   padding: 20px 10px;
}

.sidebar-content.desktop {
   overflow-y: hidden;
}

/*--------------------sidebar-header----------------------*/

.sidebar-wrapper .sidebar-header {
   padding: 0 20px;
   display: flex;
   align-items: center;
}

/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
   padding-bottom: 10px;
   overflow-x: auto;
}


.sidebar-wrapper .sidebar-menu ul li a {
   display: -webkit-box;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-decoration: none;
   position: relative;
   padding: 0px 30px 0px 20px;
   font-size: 13px;
   width: 100%;
}

.sidebar-wrapper .sidebar-menu ul li a:hover,
.sidebar-wrapper .sidebar-menu ul li a.open {
   background-color: #f3f1ff;
   -webkit-line-clamp: initial;
}


.sidebar-wrapper .sidebar-menu ul li {
   width: 100%;
   min-width: 200px;
   max-width: 250px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
   margin-right: 10px;
   font-size: 16px;
   width: 30px;
   height: 30px;
   line-height: 30px;
   text-align: center;
   border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
   padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
   padding-left: 25px;
   font-size: 13px;
   border-left: dashed 1px rgba(0, 0, 0, .3);
}

.sidebar-wrapper .sidebar-menu a.open {
   background-color: #f3f1ff;
   border-left: dashed 1px rgba(200, 200, 200, 1);
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
   display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a:after {
   transform: rotate(90deg);
   right: 17px;
}

/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
   display: inline-block;
   width: 100%;
   padding-left: 0px;
   padding-top: 20px;

}

.page-wrapper .page-content {
   overflow-x: hidden;
}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
   width: 5px;
   height: 5px;
}

::-webkit-scrollbar-button {
   width: 0px;
   height: 0px;
}

::-webkit-scrollbar-thumb {
   background: #525965;
   border: 0px none #ffffff;
   border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
   background: #525965;
}

::-webkit-scrollbar-thumb:active {
   background: #525965;
}

::-webkit-scrollbar-track {
   background: transparent;
   border: 0px none #ffffff;
   border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
   background: transparent;
}

::-webkit-scrollbar-track:active {
   background: transparent;
}

::-webkit-scrollbar-corner {
   background: transparent;
}

/*-----------------------------chiller-theme-------------------------------------------------*/


.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a {
   color: #000;
}

.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
   color: #007bff;
   text-shadow: 0 0 6px #fff;
}

/*---------------------- MAIN VIEW -------------------------*/
.main-view {
   text-align: justify;
   padding: 20px;
   min-width: 466px;
}

/*---------------------- FILE/TRASH CARD -------------------------*/
.file,
.in-trash,
.in-search {
   position: relative;
   cursor: pointer;
   text-align: center;
   width: 120px;
}

.file:hover,
.file:focus,
.in-trash:hover,
.in-trash:focus,
.in-search:hover,
.in-search:focus {
   outline: none;
   min-height: 112px;

}

.file:hover div,
.file:focus div,
.in-search:hover div,
.in-search:focus div,
.in-trash:hover div,
.in-trash:focus div {
   position: absolute;
   z-index: 1;
   /* background-color: inherit; */
   outline: initial;
   background-color: #007bff;
   color: #fff;
   outline: none;
   box-shadow: 0 0 6px rgba(0, 0, 0, .3);
   transition: all .5s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
   -moz-transition: all .5s ease-in-out;
   -ms-transition: all .5s ease-in-out;
   -o-transition: all .5s ease-in-out;
}

.file i,
.in-trash i,
.in-search i {
   font-size: 40px;
   color: #007bff;
   transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -ms-transition: all .2s ease-in-out;
   -o-transition: all .2s ease-in-out;
}

.file:hover i,
.file:focus i,
.in-search:hover i,
.in-search:focus i,
.in-trash:hover i,
.in-trash:focus i {
   font-size: 40px;
   color: #fff;
}

.file p,
.in-search p,
.in-trash p {
   width: 100px;
   min-height: 3.2em;
   padding-bottom: 5px;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
}

.file:focus p,
.in-search:focus p,
.in-trash:focus p {
   background-color: inherit;
   -webkit-line-clamp: 10;
}

.file input {
   width: 100px;
   margin-top: 8px;
}

/*---------------------- BREADCRUMB -------------------------*/
.bread-crumb {
   height: 2em;
   width: 80%;
   min-width: 300px;
   padding: 5px 10px 0;
   margin: 0;
   margin-right: 15px;
   word-wrap: normal;
   white-space: nowrap;
   overflow-x: auto;
   overflow-y: hidden;
   background-color: #e9ecef;
}

/*---------------------- ASIDE VIEW -------------------------*/

.aside-view {
   padding: 10px 10px;
   min-width: 350px;
}

a>.fa.button,
label>.fa.button {
   font-size: 24px;
   cursor: pointer;
}

a:first-child>.fa.button {
   font-size: 26px;
}

a.a-trash {
   position: sticky;
   bottom: 0;
   background-color: #fff;
   padding: 5px 10px;
   margin: 20px 15px 10px;
   font-weight: bold;
}

a.a-trash:hover {
   background-color: rgb(248, 153, 153);
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}

a.a-trash i {
   color: #f00;
}

a.a-trash:hover i {
   color: #000;
}

a.a-trash>.count-trash,
a.a-trash>.count-trash:hover,
a.a-trash:hover>.count-trash {
   position: absolute;
   top: -12px;
   right: -15px;
   font-size: 12px;
   padding: 2px 5px;
   background-color: #007bff;
   color: #fff;
   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
}

/*---------------------- FILE/FOLDER INFO -------------------------*/
.info-icon i {
   font-size: 34px;
   margin-right: 10px;
   color: #007bff;
}

/*---------------------- ADD BTN -------------------------*/
.add-ff {
   min-width: 70px;
}

.add-btn:link,
.add-btn:hover,
.add-btn:active,
.add-btn:visited {
   text-decoration: none;
}

label.add-btn {
   color: #007bff;
}

.add-btn:hover {
   color: rgb(99, 199, 99);

}

/*---------------------- NEW FOLDER FORM -------------------------*/
.new-folder {
   display: inline-block;
   height: 1.5em;
   padding: 3px 5px;
}

.error input {
   outline: red;
   border-color: red;
}

.error .fa {
   color: red;
}


/*---------------------- MEDIA  PREVIEW -------------------------*/
.media{
   position: relative;
}

.media-preview {
   width: 100%;
   cursor: pointer;
}

.media .media-expand{
   position: absolute;
   top: 0;
   left: -6px;
   padding: 5px;
   color: #fff;
   background-color: #007bff;
   cursor: pointer;
   z-index: 1;
   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
}

.media-expand .fa-expand{
   pointer-events: none;
}



/*---------------------- TOAST -------------------------*/
.toast-top {
   position: absolute;
   bottom: 15px;
   right: 15px;
   padding: 10px;
   z-index: 9999;
}

.toast {
   width: 400px;
   height: auto;
}

.toast-confirm {
   position: absolute;
   top: 15px;
   left: 50%;
   background-color: rgba(0, 0, 0, .3);
   transform: translateX(-50%);
   -webkit-transform: translateX(-50%);
   -moz-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   -o-transform: translateX(-50%);
}

/*---------------------- SEARCH -------------------------*/

.search-var {
   width: 100%;
}

@media all and (min-width: 1024px) {
   .search-var {
      width: 65%;
   }
}